---
import Layout from "../layouts/Layout.astro";
import {
  Contacto,
  Curso,
  Imagen,
  Nombre,
  Proyecto,
  Tecnologias,
} from "../components";
import Clock from "../components/Clock.astro";
import About from "../components/About.astro";

interface Proyecto {
  titulo: string;
  descripcion: string;
  pagina: string;
  repositorio: string;
  imagen: string;
}

const PROYECTOS: Proyecto[] = [
  {
    titulo: "PokeWordle",
    descripcion:
      "Wordle was a hit in the 2022 game trend for a while, and I thought about making a Wordle... but with Pokemon instead!",
    pagina: "https://sebadio.github.io/PokeWordle/",
    repositorio: "https://github.com/sebadio/PokeWordle",
    imagen: "/projects/pokewordle.webp",
  },
  {
    titulo: "Password Generator",
    descripcion:
      "A secure Password Generator, if you want a secure password so that you can make sure that your account is safe as possible, you can use this tool to help you.",
    pagina: "https://sebadio.github.io/GeneradorPassword/",
    repositorio: "https://github.com/sebadio/GeneradorPassword",
    imagen: "/projects/password_generator.webp",
  },
  {
    titulo: "To Do App",
    descripcion: "A simple To Do App made with pure JS, CSS & HTML",
    pagina: "https://sebadio.github.io/ToDoApp/",
    repositorio: "https://github.com/sebadio/ToDoApp",
    imagen: "/projects/todoapp.webp",
  },
  {
    titulo: "Pomodoro App with Electron",
    descripcion:
      "Pomodoro is a technique of concentrating that I often opt when studying. Then I decided to make my own Pomodoro desktop app with Electron.",
    pagina: "https://github.com/sebadio/PomodoroApp/releases/latest",
    repositorio:
      "https://github.com/sebadio/PomodoroApp/releases/tag/PomodoroV1.2",
    imagen: "/projects/pomodoroapp.webp",
  },
  {
    titulo: "React-Gallery",
    descripcion:
      "A simple gallery made with React. All of the images have no copyright and were put free to use in Unsplash.",
    pagina: "https://sebadio.github.io/React-Gallery/",
    repositorio: "https://github.com/sebadio/React-Gallery",
    imagen: "/projects/gallery.webp",
  },
  {
    titulo: "JAP E-Commerce",
    descripcion:
      "JAP ('Jovenes a Programar') is an Uruguayan program that teaches the young people of the country to code, this was a project-based learing experience in wich we had to figure out how to make certain aspects of the webpage.",
    pagina: "https://sebadio.github.io/JAP-Workspace/",
    repositorio: "https://github.com/sebadio/JAP-Workspace",
    imagen: "/projects/jap.webp",
  },
  {
    titulo: "Weather App",
    descripcion:
      "A weather application, made with vanilla JavaScript and Bootstrap, which makes use of the free OpenWeather API.",
    pagina: "https://sebadio.github.io/App-del-tiempo/",
    repositorio: "https://github.com/sebadio/App-del-tiempo",
    imagen: "/projects/weather.webp",
  },
];

interface Curso {
  titulo: string;
  descripcion: string;
  link: string;
  imagen: string;
}

const CURSOS: Curso[] = [
  {
    titulo: "Ultimate Web",
    descripcion:
      "Learn web development with HTML, CSS, Bootstrap, ES6 React and Node",
    link: "https://www.udemy.com/course/ultimate-web/",
    imagen: "/cursos/ultimate_web.webp",
  },
  {
    titulo: "React: de cero a experto",
    descripcion:
      "Context API, MERN, Hooks, Firestore, JWT, Testing, Autenticaciones, Despliegues, CRUD, Logs, MUI, Multiple Routers...",
    link: "https://www.udemy.com/course/react-cero-experto/",
    imagen: "/cursos/react_cero_experto.webp",
  },
  {
    titulo: "Learn JS HTML CSS",
    descripcion:
      "Learn the main languages that dominate the Internet: JavaScript, HTML5 and CSS3.",
    link: "https://www.udemy.com/course/fundamentos-de-programacion-con-javascript/",
    imagen: "/cursos/aprende_js.webp",
  },
];
---

<Layout title="Sebastian Diaz Porfolio">
  <main class="p-4 m-auto my-4 max-w-[1280px]">
    <section class="grid grid-cols-10 grid-rows-6 gap-x-2 gap-y-4">
      <!-- Imagen -->
      <Imagen
        class="rounded-3xl col-start-1 col-span-3 row-start-2 row-span-5 bg-violet-950/65 bg-cover bg-center"
      />

      <!-- Nombre -->
      <Nombre nombre="Sebastián Díaz" subtitulo="Web Dev" />

      <!-- Sobre Mi -->

      <About
        class="font-light rounded-3xl col-start-4 col-span-3 row-start-1 row-span-3 px-4 py-8 text-xl bg-blue-950 text-pretty"
      />

      <!-- Tecnologias -->
      <Tecnologias
        class="col-start-7 col-span-3 row-start-2 row-span-5 rounded-3xl p-6 bg-purple-950 grid grid-cols-3 items-center justify-items-center"
      />

      <!-- Contacto -->
      <Contacto />

      <!-- Español -->
      <div
        class="rounded-3xl col-start-7 col-span-1 row-start-1 row-span-1
        bg-[url('/foto/spanish.webp')] bg-cover bg-center bg-no-repeat"
        title="I know spanish!"
      >
      </div>

      <!-- CV -->
      <a
        class="col-start-4 col-span-3 row-start-6 row-span-1
        flex justify-center items-center
        text-white font-light hover:font-bold text-xl
        bg-violet-700 p-4 rounded-3xl
        transition-all hover:rounded-xl"
        href="/CV_EN.pdf"
        target="_blank"
        rel="noopener noreferrer"
      >
        CV</a
      >
      <!-- English -->
      <div
        class="rounded-3xl col-start-8 col-span-1 row-start-1 row-span-1
        bg-[url('/foto/english.webp')] bg-cover bg-center bg-no-repeat"
        title="I know english!"
      >
      </div>

      <!-- Cambiar lenguaje -->
      <a
        href="/es/"
        class="col-start-9 col-span-3 row-start-1 row-span-1
          text-white font-light hover:font-semibold text-xl text-center
          flex items-center
          bg-gradient-to-r from-red-800 to-blue-950
          p-4 rounded-3xl
          transition-all hover:rounded-xl"
        onclick="cambiarLenguaje()"
      >
        ← Change Language →
      </a>

      <Clock
        class="col-start-4 col-span-3 row-start-4 row-span-2 bg-stone-950 text-white flex justify-center items-center rounded-3xl text-5xl"
      />
    </section>

    <!-- Proyectos -->
    <h1 class="mt-8 mb-2 font-extrabold text-3xl ml-4">Proyectos</h1>
    <section
      class="grid lg:grid-cols-2 justify-items-center gap-x-8 gap-y-16 bg-neutral-900 p-4 rounded-3xl"
    >
      {
        PROYECTOS.map(
          ({ descripcion, imagen, pagina, repositorio, titulo }) => {
            return (
              <Proyecto
                titulo={titulo}
                descripcion={descripcion}
                pagina={pagina}
                repositorio={repositorio}
                imagen={imagen}
              />
            );
          }
        )
      }
    </section>

    <!-- Cursos -->
    <h1 class="mt-8 mb-2 font-extrabold text-3xl ml-4">Cursos</h1>
    <section
      class="grid lg:grid-cols-3 md:grid-cols-2 justify-items-center gap-x-8 gap-y-16 bg-neutral-900 px-8 py-4 rounded-3xl"
    >
      {
        CURSOS.map(({ descripcion, imagen, link, titulo }) => {
          return (
            <Curso
              titulo={titulo}
              descripcion={descripcion}
              link={link}
              imagen={imagen}
            />
          );
        })
      }
    </section>
  </main>

  <footer
    class="bg-black min-h-20 flex justify-center items-center rounded-t-3xl max-w-[1262px] mx-auto font-extralight px-8"
  >
    © 2023 Sebastian Diaz (sebadio)
  </footer>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
</style>
