---
import { Github, Link } from "./icons";
const { titulo, descripcion, imagen, repositorio, pagina } = Astro.props;
---

<article class="grid md:grid-cols-2 sm:grid-cols-1 items-center gap-4">
  <img class="rounded-lg col-start-1" src={imagen} alt={titulo} />

  <div class="flex flex-col justify-around gap-4">
    <h2 class="font-bold">{titulo}</h2>

    <p class="font-extralight text-sm text-pretty">
      {descripcion}
    </p>

    <div class="flex items-center justify-around">
      <a
        class="size-6"
        target="_blank"
        href={repositorio}
        title="Go to repo"
        rel="noopener noreferrer"
      >
        <Github class="size-6 hover:fill-violet-600 transition-all" />
      </a>
      <a
        class="size-6"
        target="_blank"
        href={pagina}
        title="Go to page"
        rel="noopener noreferrer"
      >
        <Link clase="size-6 hover:fill-violet-600 transition-all" />
      </a>
    </div>
  </div>
</article>
